/*start footer*/

footer {
    padding: 90px 0 80px;
    background: #f7f7f7;
    text-align: right
}


footer .sec-head span {
    font-size: 24px;
    margin-bottom: 55px;

}

footer .sec-head span::before {
    bottom: -20px;

}


.footer-menu ul {
    display: flex;
    flex-wrap: wrap;
    text-align: right;
}

.footer-menu ul li {
    width: 50%;
    flex: 0 0 50%;
    padding-left: 20px;
    margin-bottom: 10px;
    position: relative;
}


.footer-menu a {
    color: #4c4c4c;
    position: relative;
    font-size: 15.32px;
    display: inline-block
}

.footer-menu li:hover a {
    -webkit-mask-image: linear-gradient(-75deg, rgba(50, 139, 208, .6) 30%, #328bd0 50%, rgba(50, 139, 208, .6) 70%);
    -webkit-mask-size: 200%;
    -webkit-animation: shine 1s infinite;
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);

}

.footer-menu li:before {
    content: "\f105";
    font-family: fontAwesome;
    display: inline-block;
    margin-left: 5px;
    color: #4c4c4c;

}

.footer-menu li:hover:before {
    content: "\f101";
}

.bank {
    display: inline-block;
    margin-left: 20px;

}

.bank:last-of-type {
    margin-left: 0;

}

.social-icons {
    margin-bottom: 10px
}

.follow-text {
    font-size: 12.29px;
    color: #4c4c4c
}

.social-icons > ul {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}


.social-container a {
    position: relative;
    display: inline-block;
    width: 27px;
    height: 27px;
    -webkit-perspective: 300px;
    perspective: 300px;
    font-size: 16px;
    margin: 4px;
}


.social-container .social-cube {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 0.333s;
    -webkit-transform: translateZ(-13px);
    transform: translateZ(-13px);
}

.social-container .social-cube .front,
.social-container .social-cube .bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: background 0.333s;
    border-radius: 5px;
}

.social-container .social-cube .front {
    -webkit-transform: rotateX(0deg) translateZ(13px);
    transform: rotateX(0deg) translateZ(13px);
}

.social-container .social-cube .bottom {
    -webkit-transform: rotateX(-90deg) translateZ(13px);
    transform: rotateX(-90deg) translateZ(13px);
}

.social-container:hover .social-cube {
    -webkit-transform: translateZ(-13px) rotateX(90deg);
    transform: translateZ(-13px) rotateX(90deg);
}

.social-container.youtube-icon .social-cube .front,
.social-container.youtube-icon .social-cube .back {
    background: #CC181E;
}

.social-container.youtube-icon .social-cube .bottom {
    background: #9e1317;
}

.social-container.youtube-icon:hover .social-cube .bottom {
    background: #CC181E;
}

.social-container.youtube-icon:hover .social-cube .front {
    background: #e73036;
}

.social-container.facebook-icon .social-cube .front,
.social-container.facebook-icon .social-cube .back {
    background: #3b5998;
}

.social-container.facebook-icon .social-cube .bottom {
    background: #2d4373;
}

.social-container.facebook-icon:hover .social-cube .bottom {
    background: #3b5998;
}

.social-container.facebook-icon:hover .social-cube .front {
    background: #4c70ba;
}

.social-container.twitter-icon .social-cube .front,
.social-container.twitter-icon .social-cube .back {
    background: #4099FF;
}

.social-container.twitter-icon .social-cube .bottom {
    background: #0d7eff;
}

.social-container.twitter-icon:hover .social-cube .bottom {
    background: #4099FF;
}

.social-container.twitter-icon:hover .social-cube .front {
    background: #73b4ff;
}


.social-container.instagram-icon .social-cube .front,
.social-container.instagram-icon .social-cube .back {
    background: #767676;
}

.social-container.instagram-icon .social-cube .bottom {
    background: #5d5d5d;
}

.social-container.instagram-icon:hover .social-cube .bottom {
    background: #767676;
}

.social-container.instagram-icon:hover .social-cube .front {
    background: #909090;
}


.copyrights {
    background: #fff
}

.copyrights a {
    display: block;
    padding: 20px 10px;
    color: #4c4c4c;
    font-size: 14.4px;
}



/*end footer*/
