/*start header*/
.main-header {
    z-index: 99999;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: #fff;
}


header {
    padding: 30px 0 35px;
    position: relative;
}

header .dark_btn {
    margin-left: 20px;
    vertical-align: text-top;
    margin-top: 25px;
}

.main-logo {
    display: block;
    position: relative;
}

.logo-img {
    width: 63px;
    height: 77px;
    background-repeat: no-repeat;
    background-position: center center
}

.side-logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 80px;
    color: #575757;
    font-size: 11.76px
}

.side-logo h4 {
    font-size: 20.99px;
    color: #1c1c1c
}

.user-div {
    display: inline-block;
    position: relative;
    z-index: 9;
    cursor: pointer;
    margin-left: 25px;
    width: 190px;
    margin-top: 25px;
    vertical-align: text-top;
    text-align: right
}

.user-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    vertical-align: text-top
}

.side-user {
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-top;
    text-align: right;
    max-width: 135px;
    overflow: hidden;

}

.user-name {
    display: block;
    font-size: 13.98px;
    color: #525252;
    margin-bottom: -2px
}

.user-job {
    color: #8b8b8b;
    font-size: 11.36px;
}

.user-job:after {
    margin-right: 5px;
    font-family: fontAwesome;
    content: "\f0d7";
    font-size: 14px;
    vertical-align: middle
}

.user-list {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    text-align: right;
    width: 100%;
    width: 180px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(5px);
    -webkit-transform: translateY(5px);
}


.user-list ul {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

}

.user-list:before {
    content: "";
    position: absolute;
    top: -10px;
    right: 10px;
    height: 10px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}



.user-list a {
    color: #fff;
    display: block;
    font-size: 14px;
    padding: 10px;


}

.user-list li:hover {
    background: #eee;
}

.user-list li a:hover {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
}

.user-list li:last-of-type {
    border-bottom: none;
}

.user-list a i {
    margin-left: 10px;
}


.active-user-div .user-job:after {
    content: "\f0d8";
}

.active-user-div .user-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    -webkit-transform: translateY(0);

}



.active-user-div .user_head .user-job,
.user_head:hover .user-job {
    color: #555
}

.side-menu {
    display: inline-block;
    vertical-align: text-top
}

.nav-grid {
    text-align: right;
}

.side-navbar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: #222;
    width: 250px;
    overflow-x: hidden;
    overflow-y: auto;
    color: #fff;
    z-index: 999999;
    box-shadow: 0 0 8px #888;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
}

.open-nav {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.side-navbar:hover {
    background: #000
}

.search-form {
    background: #eee;
    padding: 15px 10px 10px;

}

.open-nav .search-form {
    animation: 1s .3s fadeIn both;
    -webkit-animation: 1s .3s fadeIn both;
}

.search-form label {
    color: #222
}

.search-form input {
    border-radius: 0 !important;
    height: 40px;
    width: 100%;
    border: 1px solid #222;
    padding: 0 10px 0 50px;
    color: #222
}



.search-form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #222;
}

.search-form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #222;
}

.search-form input:-ms-input-placeholder {
    /* IE 10+ */
    color: #222;
}

.search-form input:-moz-placeholder {
    /* Firefox 18- */
    color: #222;
}

.form-btn {
    position: absolute;
    top: 34px;
    left: 0;
    background: #222;
    height: 40px;
    width: 40px;
    border: none;
    color: #fff
}



.nav-menu {
    padding: 20px 0;
}


.nav-menu > ul > li > a {
    padding: 15px 0;
    margin: 0 20px;
    color: #fff;
    position: relative;
    display: block;
    font-size: 14px;
    transition: none;
    animation: 1s 0s fadeOut both;
    -webkit-animation: 1s 0s fadeOut both;
}

.menu-item-has-child > a:after {
    margin-right: 5px;
    font-family: fontAwesome;
    content: "\f0d7";

}

.open-nav .nav-menu > ul > li:first-of-type > a {
    animation: 1s .5s fadeIn both;
    -webkit-animation: 1s .5s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(2) > a {
    animation: 1s .7s fadeIn both;
    -webkit-animation: 1s .7s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(3) > a {
    animation: 1s .9s fadeIn both;
    -webkit-animation: 1s .9s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(4) > a {
    animation: 1s 1.2s fadeIn both;
    -webkit-animation: 1s 1.2s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(5) > a {
    animation: 1s 1.4s fadeIn both;
    -webkit-animation: 1s 1.4s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(6) > a {
    animation: 1s 1.6s fadeIn both;
    -webkit-animation: 1s 1.6s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(7) > a {
    animation: 1s 1.8s fadeIn both;
    -webkit-animation: 1s 1.8s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(8) > a {
    animation: 1s 2s fadeIn both;
    -webkit-animation: 1s 2s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(9) > a {
    animation: 1s 2.2s fadeIn both;
    -webkit-animation: 1s 2.2s fadeIn both;
}

.open-nav .nav-menu > ul > li:nth-of-type(10) > a {
    animation: 1s 2.4s fadeIn both;
    -webkit-animation: 1s 2.4s fadeIn both;
}

.nav-menu > ul > li > a:hover i,
.nav-menu > ul > li.active > a i {
    color: #fff;
    box-shadow: none;
}



.nav-menu > ul > li > a i {
    margin-top: -3px;
    vertical-align: text-top;
    margin-left: 10px;
    background: #fff;
    color: #222;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    box-shadow: inset 0 0 8px #ccc;
    position: relative;
}

.nav-menu > ul > li > a::before {
    position: absolute;
    top: 16px;
    right: 40px;
    overflow: hidden;
    max-height: 0;
    content: attr(data-hover);
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    transition: max-height 1s;
}

.nav-menu > ul > li > a:hover {
    color: #000;
    transition: none;
}



.nav-menu > ul > li > a:hover::before {
    max-height: 100%;

}


.nav-icon {
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 40px;
    position: relative;
    overflow: hidden;
    vertical-align: text-top;
    margin-top: 30px;
}


.nav-icon span {
    display: block;
    margin-bottom: 5px;
    height: 4px;
    width: 100%;
}

.active-bar span:nth-of-type(2) {
    display: none
}

.active-bar span {
    height: 2px;
    position: absolute;
    margin-top: 18px;
    right: 0;
    top: 0
}

.active-bar span:first-of-type {
    transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    width: 30px;
}

.active-bar span:nth-of-type(3) {
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    width: 30px;
}


.header-fixed {
    padding: 15px 0;
    background: #f6f6f6;
    box-shadow: 0 0 8px #888
}


.drop-menu-div {
    background: #fff;
    margin-top: -5px;
    padding: 10px 0;
    display: none;
}

.drop-menu-div.list-unstyled li {
    position: relative;
    padding: 5px 30px 5px 10px;


}

.drop-menu-div li::before {
    margin-left: 5px;
    font-family: fontAwesome;
    content: "\f100";
    color: #333;
    vertical-align: middle;


}

.drop-menu-div a {
    display: inline-block;
    color: #333;
    font-size: 14px;
}

.drop-menu-div li:hover a {
    transform: translateX(-5px);
    -webkit-transform: translateX(-5px);
}


/*end header*/
