
/*start about-effect keyframe*/
/*vedio-effect*/
@keyframes vedio-effect {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

@-webkit-keyframes vedio-effect {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 0;
    }
}

/*rocket-effect*/
@keyframes rocket-effect {
    from {
        top:20px;
                right:30px;
    }
    to {
        top:-10px;
        right:-30px;
    }
}

@-webkit-keyframes rocket-effect {
    from {
        top:20px;
                right:30px;
    }
    to {
        top:-10px;
        right:-30px;
    }
}

@keyframes rocket-effect2{
    0% {
        opacity: 0;
        box-shadow:inset 0 0 20px #fff,0 0 5px #fff;
    }
    50% {
        height: 100%;
        width:100%;
        left:0;
        top:0;
        opacity: .5;
        box-shadow:inset 0 0 40px #fff,0 0 10px #fff;
    }
    100%{
        opacity: 0;
        box-shadow:none;

    }
}

@-webkit-keyframes rocket-effect2 {
    0% {
        opacity: 0;
        box-shadow:inset 0 0 20px #fff,0 0 5px #fff;
    }
    50% {
        height: 100%;
        width:100%;
        left:0;
        top:0;
        opacity: .5;
        box-shadow:inset 0 0 40px #fff,0 0 10px #fff;
    }
    100%{
        opacity: 0;
        box-shadow:none;

    }
}



/*web-icon-effect*/
@keyframes web-icon-effect {
    0% {
        transform: translateY(-50%);
        top:50%;
    }

    50% {
        transform: translateY(-45%);
        top:45%;

    }
 
    75% {
        transform: translateY(-40%);
        top:40%;


    }
    100% {
        transform: translateY(-50%);
        top:50%;


    }
 
}

@-webkit-keyframes web-icon-effect {
    0% {
        transform: translateY(-50%);
    }

    50% {
        transform: translateY(-45%);
    }
 
    75% {
        transform: translateY(-40%);

    }
    100% {
        transform: translateY(-50%);
    }

}

/*footer-link-efftect*/

@-webkit-keyframes shine {
from {
    -webkit-mask-position: 150%;
}

to {
    -webkit-mask-position: -50%;
}
}






/*end key-frames*