    @media only screen and (max-width: 1200px) {

        .webiste-sections:before,
        .webiste-sections::after {
            content: none
        }

        footer {
            padding: 40px 0 0;
        }

        footer .sec-head span {
            margin-bottom: 35px;
        }

        .footer-menu-grid,
        .footer-social {
            margin-bottom: 30px;
        }
    }

    @media only screen and (max-width: 992px) {
        .nav-grid {
            text-align: left !important
        }

        .logo-img {
            width: 50px;
            background-size: contain;
        }

        .side-logo {
            right: 65px;
        }

        .header-fixed .logo-link {
            margin-top: 15px;
            display: block
        }

        .slider-img {
            height: 300px;
        }

        .owl-nav > div {
            top: 35%;
        }

        .marg-sec {
            padding: 30px 0;
        }

        .main-vedio .full-width-img {
            height: 400px;
        }

        .advert-img {
            height: 300px;
        }

        .service-div-list {
            margin-top: 10px;
        }

        .services-text:before,
        .about:after,
        .services-text:after {
            content: none;
        }

        .rocket {
            display: none
        }

        .services-text {
            padding-right: 0;
        }

        .services-text .sec-head {
            margin-bottom: 0;
            margin-top: 39px;
        }

        .icon-div:nth-of-type(3):before {
            content: none;
        }

        .services-text p {
            margin-bottom: 40px;
        }



        .serv-icon-title {
            margin-bottom: 40px;
        }

        .service-div-icons .serv-icon:nth-of-type(3) {
            max-width: 100%;
            flex: 0 0 100%
        }

        .service-div-icons {
            text-align: center;
            padding-bottom: 0;

        }

        .prof-main-links a {
            height: 120px;
        }

        .main-icon-tab {
            font-size: 25px;
            height: 17px;
        }

        .prof-link-div ul {
            display: none;
        }

        .prof-main-links {
            padding: 10px 0 25px;
        }

        .p-right-list,
        .statistics {
            margin-bottom: 30px;
        }

        .project-done-img {
            height: 160px;
        }

        .project-done-text h3 {
            font-size: 18px;
            max-height: 60px;
            line-height: 30px;
        }

        .project-done-grid {
            margin-top: 15px;
        }

        .social-login {
            margin-top: 30px;
        }

        .main-chat-grid {
            order: 1;
        }

        .chat-contant-grid {
            order: 2;
        }

        .chat-content-list {
            height: 325px;
        }

    }

    @media only screen and (max-width: 992px) and (min-width : 578px) {
        .service-grid-list h2 {
            flex: 0 0 100%;
            max-width: 100%;
        }

        .service-grid-list {
            display: flex;
            flex-wrap: wrap
        }

        .service-div-list,
        .login-list {
            flex: 0 0 70%;
            max-width: 70%;
            vertical-align: text-top
        }

        .advert-link {
            flex: 0 0 30%;
            max-width: 30%;
            vertical-align: text-top
        }

        .advert-img {
            margin: 0 auto 10px 0;

        }


        .login-pg .advert-link {
            margin-top: -100px;
        }

        .project-card-grid {
            order: 3
        }

        .project-card-submiter {
            order: 2
        }

    }

    @media only screen and (max-width: 768px) {
        .nav-icon {
            position: absolute;
            top: 7px;
            left: 21px;
            margin-top: 0
        }

        .nav-grid {
            text-align: right !important;
        }

        .user-div {
            margin-top: 0;

        }

        header .dark_btn {
            margin-top: 0;
        }

        .experiences li {
            font-size: 15px;
        }

        .social-login a {
            min-width: inherit;
            min-height: inherit;
            padding: 10px 15px;
            margin-left: 10px;
            margin-bottom: 10px;
        }


        .social-login a i {
            font-size: 30px;
            margin-left: 10px;
        }

        .line-shape {
            border-bottom: none;
            border-radius: 0;
            padding: 20px 0 0
        }

        .progress-bar-item {
            display: none
        }

        .line-content::after {
            content: none
        }

        .line-content {
            position: static;
            margin-bottom: 50px;
            margin-right: 20px;
        }

        .line-content .progress-title::after {
            bottom: 28%;
            right: -20px;
            border-top-color: transparent;
            border-left-color: #1c1c1c
        }

        .tag-lists {
            margin-bottom: 20px;
        }

        .line-shape-sec {
            margin: 25px auto 50px;
        }


        .line-content.active .progress-title:before {
            box-shadow: 0 0 3px #000
        }
    }


    @media only screen and (max-width: 575px) {
        .nav-grid {
            margin-top: 20px;
        }

        header {
            padding: 20px 0 10px;
        }

        .nav-icon {
            top: -70px;
        }

        .header-fixed {
            padding: 0;
        }

        .user-div {
            margin-left: 0
        }

        .slider-img {
            height: 250px;
        }

        .owl-nav > div:before {
            right: 20px
        }

        .owl-nav > div.owl-prev:before {
            left: 20px
        }

        .icon-text {
            padding-right: 20px;
        }

        .about-text-grid {
            padding-top: 10px
        }

        .about-prg {
            margin-top: 10px;
        }

        .main-vedio .full-width-img {
            height: 200px;
        }

        header .dark_btn {
            font-size: 14px;
            min-width: inherit;
            padding: 10px 15px;
            margin-left: 5px;

        }

        header .dark_btn::before {
            font-size: 14px;
            padding: 10px 15px;
        }

        .user-div {
            width: calc(100% - 150px);
        }

        .side-user {
            min-width: inherit;
            max-width: calc(100% - 49px)
        }

        .header-fixed .user-div,
        .header-fixed .dark_btn {
            display: none
        }

        .header-fixed .nav-grid {
            margin-top: -8px;

        }

        .header-fixed .nav-icon {
            top: -35px;
        }

        .sec-head span {
            font-size: 25px;
        }

        .advert-img {
            margin: auto;
        }

        .serv-icon-title {
            font-size: 15px;
        }

        .stat-number {
            font-size: 25px;
            margin-bottom: 0;
        }

        .serv-icon-img {
            margin-bottom: 10px
        }

        .serv-icon-title {
            margin-bottom: 20px;
        }

        .service-div-icons {
            text-align: center
        }


        #typing-text {
            font-size: 20px;
        }

        .web-sec-div:first-of-type .web-sec-icon {
            margin-top: 20px
        }

        footer .sec-head span {
            font-size: 18px;
        }

        .prof-main-links a {
            width: calc(100%/2 - 12px);
            margin: 5px !important
        }

        .skills .progress {
            width: 120px;
        }

        .projects-done .blue_btn {
            margin: 30px auto 35px;
        }

        .search-words a {
            font-size: 16px;
            min-width: inherit;
        }

        .search-words .sec-head {
            margin-bottom: 15px;
        }

        .pages-head {
            min-height: 100px
        }

        .pages-head h1 span {
            font-size: 20px;
        }

        .pages-head {
            padding-top: 25px;
        }

        .social-login {
            text-align: center;
            margin-bottom: 10px;
        }

        .login-pg .advert-link {
            margin-top: 30px;
            display: block
        }

        .chat-bubble {
            max-width: 100%;
        }

        .typography-sec {
            margin-bottom: 20px;
        }

        .error-pg {
            height: 300px;
        }



        .error-img {
            height: 80px;
            margin: 20px auto 40px;
        }

    }

    @media only screen and (max-width: 410px) {
        .icon-img {
            width: 50px;
            background-size: contain;

        }

        .icon-text {
            width: calc(100% - 55px);
        }

        .icon-div:before {
            bottom: 0px;
            right: 25px;
        }

        .icon-div {
            margin-bottom: 15px;
        }

        .icon-title {
            font-size: 17px;
        }


        .copyrights a {
            font-size: 13px;
        }

        .two-btns .custom_btn {
            min-width: inherit;
            padding-left: 15px;
            padding-right: 15px;
        }

    }
