/*start gerneral styles*/

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}


@font-face {
    font-family: "light";
    src: url("../fonts/hacensaudiarabialight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 0 auto;
    padding: 0;
    font-family: "light";
    direction: rtl;

}

a,
button {
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
}

label {
    font-weight: normal;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
    color: #6e6e6e;
}

a:focus,
button:focus,
button:active {
    outline: 0 none;
}

p {
    color: #717474;
    font-size: 16px;
    line-height: 28px;
}

h1 {
    font-size: 27px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal
}

ul {
    margin-left: 0;
    padding: 0;
    margin: 0;
}

.list-inline li {
    display: inline-block;
}

.list-unstyled li {
    display: block;
}

img,
object {
    max-width: 100%;
}

.form-group {
    position: relative;
}

.html5-title {
    display: none;
}

div#html5-close {
    height: 30px;
    width: 30px;
    display: inline-block;
    text-align: center;
    line-height: 26px;
    top: 0;
    right: 16px !important;
    position: absolute;
    border-radius: 50%;
    font-size: 15px;
}

div#html5-close:before {
    content: "\f00d";
    font-family: fontAwesome;
    position: absolute;
    right: -10px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    background: #fff;
    box-shadow: inset 0 0 8px #888, 0 0 8px #000;
    top: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

div#html5-close:hover:before {
    color: #fff
}


div#html5-close img {
    display: none
}

select.form-control:not([size]):not([multiple]) {
    height: 37px;
}

.form-control,
.file-upload2 .file-select {
    border-radius: 30px !important;
    background: #fff;
    box-shadow: none;
    height: 50px;
    font-family: "light";
    width: 100%;
    color: #454545;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #cfcfcf;
}

.form-control:focus {
    box-shadow: none;
}

.form-control::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #454545;
}

.form-control::-moz-placeholder {
    /* Firefox 19+ */
    color: #454545;
}

.form-control:-ms-input-placeholder {
    /* IE 10+ */
    color: #454545;
}

.form-control:-moz-placeholder {
    /* Firefox 18- */
    color: #454545;
}

textarea {
    min-height: 150px;
}

a:hover,
a,
button:hover,
.form-control,
.main-vedio .full-width-img::before,
.main-vedio .full-width-img:hover:after,
.main-vedio .full-width-img:after,
.main-vedio .full-width-img:hover::before,
.service-div-list span,
.service-div-list span:hover::after,
.service-div-list span::after,
.web-sec-icon,
.more_link span:hover::after,
.more_link span::after,
.footer-menu li:hover a,
.footer-menu li:hover:before,
.footer-menu li:before,
.attach-list label,
.side-contact-chat h3,
.chat-shapes,
.footer-menu li:hover a,
.statistics a i,
.chat-man .html5lightbox:after,
.chat-img::before,
.arrows-lists ul li a::before,
.progress-bar-item,
.tag-lists li a i {
    -webkit-transition: all 0.5s linear 0s;
    -moz-transition: all 0.5s linear 0s;
    -o-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
}

.web-sec-icon:hover::before,
.web-sec-icon::before,
.user-list li,
.user-list,
.active-user-div .user_head span,
.nav-icon span,
.side-navbar,
.nav-menu a i,
.owl-nav > div:hover:before,
.owl-nav > div:before,
.serv-icon-img:hover,
.serv-icon-img,
.serv-icon-img:hover:after,
.serv-icon-img:after,
.serv-icon-img:hover::before,
.serv-icon-img:before,
.blue_btn,
.blue_btn::before,
.blue_btn:hover,
.blue_btn:hover::before,
header,
.project-done-text p,
.project-done-text h3,
.project-done-div .full-width-img {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.marg-sec {
    padding: 100px 0
}

.dark-prg {
    color: #151515
}

.sec-head span {
    color: #242525;
    font-size: 31px;
    position: relative;
    margin-bottom: 40px;
    display: inline-block
}

.sec-head span::before {
    content: "";
    position: absolute;
    bottom: -25px;
    right: 0;
    height: 3px;
    width: 50px;
}

.center-sec.sec-head span::before {
    right: 0;
    left: 0;
    margin: auto
}


.custom_btn {
    min-width: 170px;
    padding: 8px 20px 10px;
    height: 40px;
    border-radius: 30px;
    display: inline-block;
    text-align: center;
    border: none;

}


/*more-link*/


.more_link span {
    padding: 0 10px;
    margin: 0 20px;
    font-size: 17px;
    position: relative;
    display: inline-block;
}

.more_link span::before {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    padding: 0 10px;
    max-height: 0;
    color: #000;
    content: attr(data-hover);
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    transition: max-height 0.5s;
}

.more_link span::after {
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 2px;
    color: #000;
    content: "";

}


.more_link span:hover::before {
    max-height: 100%;
}

.more_link span:hover::after {
    background: #000;
    transform: scaleX(.5);
    -webkit-transform: scaleX(.5);
    transition-delay: .1s
}




/*dark-btn*/
.dark_btn {
    padding: 8px 20px 5px;
    color: #fff;
    position: relative;
    background: #393939;
    margin: 20px auto;
}


.dark_btn:hover {
    color: transparent
}

.dark_btn::before {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 8px 20px 5px;
    color: #fff;
    content: attr(data-hover);
    -moz-transition: ease-out 0.3s;
    -o-transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    transition: ease-out 0.3s;
    -moz-transform: scale(1.4, 1.4);
    -ms-transform: scale(1.4, 1.4);
    -webkit-transform: scale(1.4, 1.4);
    transform: scale(1.4, 1.4);
    opacity: 0;
}

.dark_btn:hover::before {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
}



.blue_btn {
    padding: 8px 20px 10px;
    color: #fff;
    position: relative;
    background: #393939;
    margin: 20px auto;
    overflow: hidden;
    font-size: 16.66px;
    z-index: 2;
    text-align: center;
}

.blue_btn:hover {
    background: transparent;
    color: #fff
}

.blue_btn::before {
    position: absolute;
    top: 50%;
    content: '';
    height: 200%;
    width: 150%;
    border-radius: 50%;
    right: -25%;
    margin: auto;
    z-index: -1;
    opacity: 0;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
}


.blue_btn:hover::before {
    opacity: 1;
    transform: translateY(-50%) scale(1);
    -webkit-transform: translateY(-50%) scale(1);
}



.converted-img {
    display: none !important;
}




.full-width-img {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
}

.white-title,
.white-title span,
.white-prg {
    color: #fff;
}


/*end general styles*/


/*start index-page*/

.slider-img {
    height: 500px;
}

.owl-nav > div {
    position: absolute;
    width: 100%;
    top: 45%;
    right: 0
}

.owl-nav > div:before {
    position: absolute;
    font-family: fontAwesome;
    content: "\f054";
    top: 0;
    right: 60px;
    font-size: 50px;
    color: #fff
}

.owl-nav > .owl-prev:before {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    left: 60px;
    right: auto;
}

.owl-dots {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.owl-theme .owl-dots .owl-dot span {
    display: inline-block;
    background: #fff;
    box-shadow: inset 0 0 8px #aaa;
    margin: 4px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    box-shadow: none;
    background: #4970ac
}

.about-prg {
    max-height: 68px;
    overflow: hidden;
    line-height: 32px;
    margin: 45px auto 40px;
}


.icon-div {
    margin-bottom: 40px;
    position: relative;
}


.icon-div:before {
    content: "";
    position: absolute;
    height: 35px;
    width: 1px;
    background: #e4e4e4;
    bottom: -30px;
    right: 40px;
    z-index: -1;
    opacity: 0;
    animation: 1s 0s fadeInDown both;
    -webkit-animation: 1s 0s fadeInDown both;
}


.icon-div:nth-of-type(2):before {
    animation: 1s .8s fadeInDown both;
    -webkit-animation: 1s .8s fadeInDown both;
}

.icon-div:nth-of-type(3):before {
    animation: 1s 2.6s fadeInDown both;
    -webkit-animation: 1s 1.6s fadeInDown both;
    height: 140px;
    bottom: -140px
}

.icon-img {
    display: inline-block;
    width: 80px;
    height: 95px;
    vertical-align: text-top;
    background: #fff
}

.icon-img:first-of-type {
    background-repeat: no-repeat;
}

.icon-text {
    width: calc(100% - 90px);
    display: inline-block;
    vertical-align: text-top;
    padding-right: 50px;
    padding-left: 10px;

}

.icon-title {
    color: #535353;
    font-size: 19.05px;
}

.icon-prg {
    max-height: 52px;
    overflow: hidden;
}

.about-text-grid {
    padding-top: 45px;
}

.about {
    position: relative;
    overflow: hidden;
}

.about:after {
    content: "";
    position: absolute;
    height: 1px;
    width: calc(100% - 30px);
    background: #e4e4e4;
    bottom: 0;
    right: 30px;
    z-index: -1;
    animation: 1s 2.4s fadeInRight both;
    -webkit-animation: 1s 2.4s fadeInRight both;
}


.main-vedio .full-width-img {
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    height: 648px;

}

.vd-img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url(../images/main/vedio.png);
    background-size: cover;
    background-repeat: repeat;
    animation: vedio-effect 100s linear infinite;
    -webkit-animation: vedio-effect 100s linear infinite
}


.main-vedio:hover .full-width-img {
    background-repeat: repeat;
    animation: vedio-effect 100s linear;
    -webkit-animation: vedio-effect 100s linear
}

.main-vedio .full-width-img::before {
    content: "\f144";
    position: absolute;
    font-family: fontAwesome;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    color: #000;
    text-align: center;
    font-size: 100px;
    z-index: 2;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.main-vedio .full-width-img::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .4);
    z-index: 1;
}


.main-vedio .full-width-img:hover::before,
.main-vedio :hover .vd-img,
.main-vedio .full-width-img:hover::after {
    display: none
}

#main-vedio-div {
    position: relative;
    z-index: -3;
}

.remove-vd-effect #main-vedio-div {
    z-index: 1;
}


.remove-vd-effect .vd-img {
    display: none;
}

.remove-vd-effect .full-width-img::before,
.remove-vd-effect .full-width-img::after {
    content: none
}

.services {
    overflow: hidden;
}

.service-div-list {
    margin: 35px auto 20px;
}

.service-div-list li {
    margin-bottom: 10px;
}

.service-div-list span {
    color: #1c1c1c;
    font-size: 19px;
    position: relative;
    display: inline-block
}

.service-div-list span::before {
    content: "\f0d9";
    margin-left: 10px;
    font-family: fontAwesome;
}


.service-div-list span::after {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    right: 0;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    opacity: 0;
}

.service-div-list span:hover::after {
    opacity: 1;
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}

.serv-icon {
    margin-bottom: 30px;
}

.service-div-icons {
    padding-bottom: 100px;
}

.adv-div {
    position: relative;
    overflow: hidden;
}

.adv-div::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.advert-img {
    height: 440px;
    border-radius: 20px;
    max-width: 225px;
    margin: 60px 0 40px auto;
}

.services-text {
    position: relative;
    padding-right: 45px;
}


.services-text:before {
    content: "";
    position: absolute;
    height: calc(100% + 200px);
    width: 1px;
    background: #e4e4e4;
    top: -201px;
    right: 0;
    z-index: -1;
}

.services-text:after {
    content: "";
    position: absolute;
    width: calc(100% + 119px);
    height: 1px;
    background: #e4e4e4;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.services-text .sec-head span::before {
    content: none;
}

.rocket {
    position: absolute;
    top: -10px;
    right: -35px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    color: #fff;
    overflow: hidden;
}

.rocket:after {
    content: "";
    position: absolute;
    box-shadow: inset 0 0 40px #fff, 0 0 10px #fff;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    left: 30px;
    top: 30px;
    animation: rocket-effect2 1.5s linear infinite;
    -webkit-animation: rocket-effect2 1.5s linear infinite
}

.rocket i {
    position: absolute;
    top: 20px;
    right: 22px;
    animation: rocket-effect 1.5s linear infinite;
    -webkit-animation: rocket-effect 1.5s linear infinite
}

.serv-icon-img {
    height: 97px;
    width: 97px;
    border-radius: 50%;
    position: relative;
    text-align: center;
    z-index: 1;
    margin: auto auto 35px;

}

.serv-icon-img:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 40px #000, inset 0 0 20px #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
    opacity: 0;

}

.serv-icon-img:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #000;
    border-radius: 50%;
    z-index: -1;
    transform: scale(.3);
    -webkit-transform: scale(.3);
    opacity: 0;

}

.serv-icon-img:hover::before,
.serv-icon-img:hover:after {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;

}

.serv-icon-img img {
    max-height: 70px;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.stat-number {
    font-size: 31px;
    color: #1c1c1c;
    display: block;
    margin-bottom: 20px;
}

.serv-icon-title {
    font-size: 17.4px;
    color: #1c1c1c;

}

.services-text .sec-head {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 100px;
}


.services-text p {
    max-height: 140px;
    overflow: hidden;
    margin-bottom: 105px;
}

.right-btns {
    margin: 100px auto 110px;
}

.right-btns a:first-of-type {
    margin-left: 20px;

}

.join_us {
    height: 255px;
    background: url(../images/main/overlay.png);
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}

.join_us::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, .77);
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.join-div {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
}


#typing-text {
    font-size: 25px;
    color: #fff;
    line-height: 41px;
}

.web-sec-icon {
    width: 90px;
    height: 90px;
    border: 1px solid;
    background: #fff;
    border-radius: 50%;
    margin: 60px auto 30px;
    line-height: 90px;
    font-size: 40px;
    position: relative;
    overflow: hidden;
    z-index: 3;
}

.web-sec-icon:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(.3);
    -webkit-transform: scale(.3);
    opacity: 0;
    border-radius: 50%;
}

.web-sec-icon i {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    animation: web-icon-effect 3s linear infinite;
    -webkit-animation: web-icon-effect 3s linear infinite;

}

.web-sec-icon:hover i {
    animation-play-state: paused;
}

.web-sec-icon:hover::before {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

.web-sec-icon:hover {
    color: #fff;
}

.web-sec-title {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 20px
}

.web-sec-prg {
    max-height: 115px;
    overflow: hidden;
    padding: 0 10px 10px;
}

.webiste-sections {
    position: relative;
}

.webiste-sections:after {
    content: "";
    position: absolute;
    height: 1px;
    width: 95%;
    background: #e4e4e4;
    bottom: 0;
    right: 5%;
    z-index: -1;
    animation: 1s 2.4s fadeInRight both;
    -webkit-animation: 1s 2.4s fadeInRight both;
}

.webiste-sections:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #e4e4e4;
    top: 0;
    right: 5%;
    z-index: -1;
    animation: 1s 2.4s fadeInRight both;
    -webkit-animation: 1s 2.4s fadeInRight both;
}

.big-advert-img {
    height: 142px;
    border-radius: 20px;
}

/*end index-page*/
/*----------------------------------start pages----------------------------------*/

/*start profile*/
.pages-head {
    background: url(../images/main/pages_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
    min-height: 250px;
    position: relative;
    text-align: center;
    padding: 60px 0 20px;
}

.pages-head:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .54);
}

.pages-head .blue_btn {
    margin-bottom: 0;
    margin-top: 5px;
}

.prof-main-links {
    padding: 37px 0 75px;
    overflow: hidden;
    position: relative;
}

.prof-main-links a {
    display: inline-block;
    width: calc(100%/4 - 10px);
    text-align: center;
    border: 1px solid;
    margin: 7px;
    border-radius: 10px;
    vertical-align: text-top;
    position: relative;
    height: 182px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;

}


.prof-main-links a:first-of-type,
.prof-main-links a:last-of-type {
    margin: 7px 0
}

.prof-link-title {
    display: block;
    margin-top: 10px;
    font-size: 15.21px;
}


.main-icon-tab {
    font-size: 40px;
    height: 40px;
    display: block;
    position: relative;
}

.prof-link-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    right: 0;
    left: 0;
    margin: auto;
    font-size: 10.43px;

}

.prof-link-div,
.main-icon-tab i {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.prof-link-div ul {
    font-size: 10.43px;
}

.prof-link-div ul li {
    margin: 2px 5px;
}

.prof-main-links a:hover .prof-link-title,
.prof-main-links a:hover,
.prof-main-links a:hover ul,
.prof-main-links a:hover .main-icon-tab {
    color: #fff
}

.p-user {
    font-weight: 700
}

.p-user > i {
    color: #48e523;
    margin-left: 10px;
    font-size: 14px;
}

.p-user a {
    margin-right: 10px;
    color: #2b2b2b;
}


.static-stars {
    width: 125px;
    position: relative;
    margin: auto;
    direction: ltr;
    vertical-align: middle
}

.inline-stars {
    display: inline-block;
    margin: auto 5px;
}

label.star {
    font-size: 20px;
    color: #e1da29;
    transition: all 0.2s;
    display: inline-block !important;
    margin: 4px auto;
}

input.star:checked ~ label.star:before {
    content: "\f005";
    color: #e1da29;
    transition: all 0.25s;
}

label.star:before {
    content: "\f006";
    font-family: FontAwesome;
    cursor: pointer;
}

input.star {
    cursor: pointer;
    position: absolute;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.static-stars label:hover {
    transform: rotate(-15deg) scale(1.2);
    -webkit-transform: rotate(-15deg) scale(1.2);
}

.p-right-list,
.statistics {
    margin-bottom: 65px;
}

.p-right-list li {
    margin-bottom: 10px;
    color: #5f5d5b;
    font-size: 15px;
}

.p-right-list li span {
    margin-left: 5px;
}

.statistics a i {
    width: 30px;
}

.statistics a:hover i {
    width: 40px;
}

.statistics a {
    color: #1c1c1c;
    font-size: 17px;
    display: block;
    margin-bottom: 10px;
}

.statistics li:first-of-type a:hover,
.statistics li:nth-of-type(2) a:hover {
    color: #000
}

.skills {
    margin-bottom: 50px;
}

.skills .progress {
    width: 140px;
    height: 36px;
    display: inline-block;
    border-radius: 0;
    margin-left: 20px;
}

.skills .progress-bar {
    height: 36px;
    color: #242525;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0 10px;
    line-height: 36px;

}

.prof-summry {
    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 5px;
    margin-bottom: 40px;
}

.inner-section-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.experiences {

    border-bottom: 1px solid #e4e4e4;
    padding-bottom: 30px;
    margin-bottom: 45px;
}

.experiences li {
    margin-bottom: 10px;
    font-size: 16.55px;
    color: #5f5d5b
}

.experiences li span {
    font-size: 18.01px;
    color: #1c1c1c
}

.project-done-img {
    height: 245px;
    border-radius: 20px;
    margin-bottom: 25px;
}

.project-done-grid {
    margin-top: 35px;
}

.project-done-div {
    margin-bottom: 20px;
}

.project-done-text h3 {
    color: #545454;
    font-size: 20px;
    position: relative;
    max-height: 25px;
    overflow: hidden;
}

.project-done-text h3:before {
    content: "\f0d9";
    margin-left: 5px;
    font-family: fontAwesome;
}

.project-done-text p {
    height: 87px;
    overflow: hidden;
    margin: 15px auto 10px;
}



.project-done-div:hover p {
    color: #000
}

.no-marg-more span {
    margin: auto;
}

.project-done-div:hover .full-width-img {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.projects-done .blue_btn {
    margin: 75px auto 85px
}

.search-words .sec-head {
    margin-bottom: 35px;
}

.search-words a {
    color: #242525;
    font-size: 17px;
    background: #dddddd;
    min-width: 140px;
    min-height: 40px;
    padding: 10px;
    display: inline-block;
    text-align: center;
    margin-bottom: 10px;
}

.search-words a:hover {
    color: #fff
}

/*end profile*/

/*start login*/
.login-list a {
    display: block;
    margin-bottom: 10px;
    color: #1c1c1c;
    font-size: 17px;
}

.login-list a i {
    margin-left: 10px;
}

.social-login a {
    border-radius: 20px;
    background: #454545;
    min-width: 260px;
    min-height: 90px;
    position: relative;
    margin-left: 20px;
    padding: 20px 30px;
    display: inline-block;
    font-size: 15.21px;
    color: #fff;
}


.social-login a.fc-icon {
    background: #3192dd
}

.social-login a.goo-icon {
    background: #dd4b39
}

.social-login a:last-of-type {
    margin-left: 0;

}

.social-login a:hover {
    transform: scale(.9);
    -webkit-transform: scale(.9);
}


.social-login span {
    position: relative;
    display: inline-block;
}

.social-login span::before {
    content: "\f0d9";
    font-family: fontAwesome;
    margin-left: 5px;
}

.social-login a i {
    font-size: 50px;
    margin-left: 20px;
    vertical-align: middle
}

.social-login {
    margin-bottom: 50px;
}

.login-form-div .form-control {
    height: 75px;
    padding-right: 50px;
}

.login-form-div .icons-form textarea.form-control {
    padding-top: 27px;
}

.icons-form .login-form-icon {
    position: absolute;
    top: 28px;
    right: 35px;
    font-size: 20px;
}

.condition-form-group input {
    opacity: 0;
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 1;
    height: 30px;
    width: 30px;
}

.condition-form-group label {
    position: relative;
    padding-right: 50px;
    padding: 30px 40px 0 10px;

}

.condition-form-group label::before {
    content: "";
    position: absolute;
    top: 25px;
    right: 0;
    height: 30px;
    width: 30px;
    border: 2px solid #c1c1c1;
    display: inline-block;
    border-radius: 5px;
    vertical-align: middle;
}

.condition-form-group label::after {
    content: "\f00c";
    font-family: fontAwesome;
    position: absolute;
    top: 25px;
    right: 4px;
    font-size: 20px;
    opacity: 0;
}

.condition-form-group input:checked ~ label:after {
    opacity: 1;
}

.condition-label span {
    color: #454545
}

.recaptcha-div {
    margin-top: 30px;
}

.forget-pass-grid {
    margin: auto;
}

.custom_btn i {
    margin-right: 5px;
}

.file-upload2 {
    display: inline-block;
    cursor: pointer;
}

.file-upload2 .file-select {
    position: relative;
    z-index: 6;
    cursor: pointer;
    display: inline-block;
    padding: 10px 60px 10px 30px;
    border-radius: 10px !important;

}

.file-upload2 .form-icon {
    position: absolute;
    top: 0;
    width: 50px;
    text-align: center;
    padding: 10px 10px;
    font-size: 30px;
    display: block;
    line-height: 40px;
    right: 0;
}

.file-upload2 .file-select .file-select-name {
    padding-top: 6px;
    display: block;
    cursor: pointer;
    overflow: hidden;
    height: 30px;
    width: 100%;
    font-weight: 500;
    color: #000
}

.file-upload2 .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}



.was-validated .file-select {
    margin-bottom: 1rem;
    border-color: #dc3545
}

.file-select .invalid-feedback {
    font-size: 13px;
    width: calc(100% + 20px);
    position: absolute;
    bottom: -25px;
    right: 0;
}

.was-validated .file-upload2.active .file-select {
    border-color: #28a745;
}

/*end login*/

/*start chat*/
.chat-content-list {
    border: 2px solid #e2e2e2;
    padding: 20px 15px;
    height: 630px;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 20px
}

.chat-search {
    margin: 20px auto;
}

.chat-search .form-control {
    border-radius: 30px;
    background: #eeeeee;
    padding: 10px 15px 10px 40px;
    height: 40px;
    font-size: 14px;
}

.chat-search .form-btn {
    border-radius: 50%;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
    font-size: 13px;
    line-height: 30px;
}

.chat-search .form-btn:hover {
    background: #242525
}

.chat-users li {
    margin-bottom: 5px;
}

.chat-img {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-position: center center;
    vertical-align: text-top;
    position: relative;
    overflow: hidden;
}

.chat-img:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
}


.chat-img:hover:before {
    opacity: 1;
}

.side-contact-chat {
    display: inline-block;
    width: calc(100% - 45px);
    padding-right: 10px;
    vertical-align: text-top
}

.side-contact-chat h3 {
    color: #242525;
    font-size: 15px;
    height: 20px;
    overflow: hidden;
    text-transform: capitalize;
    margin-bottom: 0
}

.side-contact-chat p {
    font-size: 13px;
    height: 20px;
    overflow: hidden;

}

.inner-chat-div {
    height: 540px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;

}


.inner-chat-div::-webkit-scrollbar,
.chat-content-list::-webkit-scrollbar {
    width: 7px;

}

.inner-chat-div::-webkit-scrollbar-thumb,
.chat-content-list::-webkit-scrollbar-thumb {
    background-color: #2125294a;
}


.main-chat-div {
    border: 2px solid #e2e2e2;
    margin-bottom: 20px;
}

.chat-conver {
    position: relative;
    margin-bottom: 30px;
}

.chat-conver .chat-img {
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: -5px;
}

.chat-bubble {
    display: inline-block;
    max-width: calc(100% - 100px);
    vertical-align: middle;
    padding: 10px;
    font-size: 13px;
    line-height: 22px;
    color: #fff;
    position: relative;
    text-align: center
}

.chat-bubble:before {
    content: '';
    position: absolute;
    bottom: 0;
    border-bottom: 10px solid #b2b2b2;
}

.chat-conver.receiver .chat-bubble:before {
    left: -10px;
    border-left: 10px solid transparent;
}

.chat-conver.receiver {
    text-align: left;
    padding-left: 80px;

}

.chat-conver.receiver .chat-img {
    left: 0;
}

.chat-conver.receiver .chat-bubble {
    border-radius: 10px 10px 10px 0;
}

.chat-conver.sender .chat-bubble:before {
    right: -10px;
    border-right: 10px solid transparent;
}

.chat-conver.sender {
    padding-right: 80px;

}

.chat-conver.sender .chat-img {
    right: 0;
}

.chat-conver.sender .chat-bubble {
    border-radius: 10px 10px 0 10px;
    background: #b2b2b2
}

.chat-time {
    display: block;
    font-size: 13px;
    color: #b2b2b2;
    margin-top: 5px;
}

.chat-man .chat-img {
    display: block;
    height: 80px;
    width: 80px;
    margin: auto
}

.chat-man .html5lightbox {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 10px auto 20px;

}

.chat-man .html5lightbox:after {
    content: "\f00e";
    position: absolute;
    top: -100px;
    right: 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
    color: #fff;
    font-family: fontAwesome;
    text-shadow: 0 0 8px #888;
}

.chat-man .html5lightbox:hover:after {
    top: 25px;

}

.chat-man-name {
    text-align: center;
    font-size: 16px;
    font-weight: 500
}

.chat-man-status {
    display: block;
    text-align: center;
    color: #ccc;
    margin-bottom: 20px;
}

.user-chat-list li a {
    font-size: 15px;
}

.ch-attch {
    padding: 20px;
    position: relative;

}

.up-div {
    position: absolute;
    left: 70px;
    top: 33px;
    color: #c6c6c6
}

.inner-attach input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.attach-list {
    overflow: hidden;
    width: 100px;
    position: absolute;
    bottom: 25px;
    border-radius: 5px;
    left: 0;
    display: none;
}

.attach-list label {
    color: #fff;
    font-size: 13px;
    padding: 5px;
    margin-bottom: 0
}

.attach-list label:hover {
    background: #2b2b2b;
    border-color: #2b2b2b
}

.attach-list label i {
    margin-left: 5px;
}

.inner-attach:last-of-type label {
    border-bottom: none
}

.ch-att textarea {
    min-height: 45px;
    background: #eeeeee;
    border-radius: 30px;
    padding-left: 65px;
    padding-right: 50px;
}

.chat-shapes {
    font-size: 20px;
}


.main-chat-div .search-btn2 {
    top: 28px;
    right: 28px;
    left: auto;
    height: 35px;
    width: 35px;
    font-size: 15px;
    line-height: 35px;
    border-radius: 50%;
}

.main-chat-div .search-btn2:hover {
    background: #2b2b2b
}

.emoji-picker-icon {
    left: 40px;
    top: 35px;
    right: auto;
    opacity: 1;
    color: #b2b2b2;
}

.emoji-menu,
.emoji-picker-icon.parent-has-scroll {
    right: auto;
    left: 40px;
}

.emoji-wysiwyg-editor {
    padding-top: 10px;
    padding-left: 65px;
    padding-right: 50px;
}

.emoji-wysiwyg-editor.parent-has-scroll {
    padding-right: 50px;
}

.add-project-form label {
    color: #000
}

.add-project-form label span {
    color: red;
    display: inline-block;
    margin-right: 5px;
}

.add-project-form select.form-control:not([size]):not([multiple]),
.add-project-form .form-control {
    height: 60px;
}

.add-project-form .form-control {
    padding-right: 10px;
}

.project-input-note {
    color: #ccc;
    display: block;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 14px;
}

.two-btns .custom_btn:last-of-type {
    margin-right: 20px;
}

.no-bord-btn {
    background: none !important;
    border: 1px solid;
    vertical-align: middle;

}

.project-about {
    margin-bottom: 20px
}

.blue-head {
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
}

a.blue-head:hover {
    color: #fff;
    background: #1c1c1c
}

.project-about-prg {
    font-size: 14px;
    padding: 10px;
}

/*end chat*/


/*start contact*/
.intl-tel-input.allow-dropdown .flag-container,
.intl-tel-input.separate-dial-code .flag-container {
    right: 0
}

.intl-tel-input .country-list {
    text-align: right
}

.intl-tel-input .country-list .country-name,
.intl-tel-input .country-list .flag-box {
    margin-right: auto;
    margin-left: 6px;
}

.intl-tel-input .selected-flag {
    padding: 0 18px 0 0;
    outline: none
}

.intl-tel-input.allow-dropdown .flag-container:hover .selected-flag {
    background: none
}

.intl-tel-input {
    display: block;
}

.intl-tel-input.allow-dropdown input[type=text],
.intl-tel-input.separate-dial-code input,
.intl-tel-input.separate-dial-code input[type=tel],
.intl-tel-input.separate-dial-code input[type=text] {
    padding-right: 55px;
    padding-left: 10px;
}

.c-list {
    display: inline-block;
    margin-right: 10px;
    vertical-align: text-top
}

.c-list span {
    display: block;
    margin-bottom: 5px;
}

.login-list.contact-list {
    margin-bottom: 30px;
    max-width: 100%
}

/*end contact*/

/*start view  project*/
.project-side-div .chat-man-status {
    color: #575757;
}

.project-side-div .chat-man-status i,
.view-submit .login-list li i {
    margin-left: 5px;
}

.project-side-div > div {
    margin-bottom: 40px;
}

.view-submit .login-list li {
    color: #757575;
    font-size: 13px;
}

.view-submit .login-list li i {
    width: 20px;
}

.money-list {
    margin-top: 20px;
}

.money-list li {
    color: #575757;
    margin-top: 10px;
    font-size: 14px;
}

.money-list li span {
    width: 45%;
    display: inline-block
}

.tag-div span {
    display: inline-block;
    background: #d5ad35;
    border-radius: 30px;
    color: #fff;
    padding: 7px 20px 5px;
    margin-bottom: 20px;
}

.dark_title {
    font-size: 24px;
    color: #1c1c1c;
    margin-bottom: 25px;
}

.tag-lists li:not(:last-of-type) {
    margin-left: 25px
}

.tag-lists {
    margin-bottom: 100px;
}

.tag-lists li {
    font-size: 14px;
    color: #757575
}

.tag-lists li i {
    margin-left: 5px;
    color: #1c1c1c
}

.tag-lists li a:hover {
    color: #1c1c1c
}

.line-shape-sec {
    margin: 80px auto 70px;
}

.line-shape {
    position: relative;
    border-bottom: 6px solid #dadada;
    border-radius: 30px;
}

.line-content {
    position: absolute;
    bottom: 35px;
}

.progress-bar-item {
    position: absolute;
    right: 0;
    width: 95%;
    height: 6px;
    bottom: -41px;
    opacity: 0;
}

.line-content:first-of-type .progress-bar-item {
    right: -45%;
    border-radius: 0 30px 30px 0;
    opacity: 1;
}

.line-content:nth-of-type(2) .progress-bar-item:first-of-type {
    right: -110%;
    width: 158%;
    opacity: 1;
}

.line-content.active:nth-of-type(2) .progress-bar-item:nth-of-type(2) {
    right: 50%;
    width: 190%;
    opacity: 1;
}

.line-content.active:last-of-type .progress-bar-item {
    right: 50%;
    width: 105%;
    border-radius: 30px 0 0 30px;
    opacity: 1;
}

.line-content::after {
    content: "";
    position: absolute;
    bottom: -46px;
    height: 20px;
    width: 20px;
    background: #fff;
    border: 4px solid transparent;
    border-radius: 50%;
    right: 46%;
    z-index: 1;
}

.line-content:nth-of-type(2)::after {
    border-width: 8px;
    height: 30px;
    width: 30px;
    bottom: -50px;
    right: 42%;

}

.line-content .progress-title {
    position: relative;
    background: #1c1c1c;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 10px;
}


.line-content .progress-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    border: 10px solid transparent;
    border-top-color: #1c1c1c;
    right: 46%;
    bottom: -16px;
}

.line-content .progress-title:before {
    content: "";
    height: 15px;
    width: 15px;
    font-family: fontAwesome;
    margin-left: 3px;
    border-radius: 50%;
    border: 2px solid #b52626;
    display: inline-block;
    font-size: 10px;
    color: #000;
    line-height: 12px;
    text-align: center;
    vertical-align: middle;


}

.line-content.active .progress-title:before {
    content: "\f00c" !important;
    border-color: #5bd155 !important;
    background: #5bd155 !important
}

.line-content:nth-of-type(2) .progress-title:before {
    content: "\f053";
    border-color: #fffd4a;
    background: #fffd4a
}




.line-content:first-of-type {
    right: 10%;
}

.line-content:nth-of-type(2) {
    right: 40%;
}

.line-content:nth-of-type(3) {
    left: 10%;
}


.border-title {
    font-size: 18px;
    color: #1c1c1c;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.project-view-form {
    margin: 60px auto
}


.project-view-form .form-control {
    border-radius: 10px !important;

}

.project-input-note b {
    font-weight: normal
}

.form-control:disabled,
.form-control[readonly] {
    background: transparent
}

.circlelists {
    margin-top: 25px;
}

.circlelists li {
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
}

.circlelists li::before {
    content: "";
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
    opacity: .8;

}

.comments-div {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 30px 0 10px;
    margin-bottom: 30px;
}


.comment-star-list li {
    color: #ffda2b
}

.comments-div .chat-man .html5lightbox {
    margin-bottom: 10px;
}

.comments-div .chat-man {
    margin-bottom: 20px;
}

.comments-div .tag-lists {
    margin-bottom: 20px;
}

.comments-div .tag-lists a {
    color: #757575
}

.comments-div p {
    max-width: 350px
}

.proj-pagination,
.project-side-div-grid {
    padding: 0 15px
}

.typography-sec {
    margin-bottom: 70px;
}

.typography-sec h2 {
    margin-bottom: 15px;
}

/*end view  project*/

/*start 404*/

.error-pg {
    height: 500px;
    position: relative;
}

.error-div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 20px;
}


.error-img {
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    display: block;
    margin: 50px auto 70px;
}

/*end 404*/
/*start blog*/
.blog-tag-list {
    margin-bottom: 10px;
}

.blog-tag-list.tag-lists li a {
    color: #1c1c1c
}

.blog-div-grid .project-done-img {
    border-radius: 20px 20px 0 0;
    height: 200px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.blog-div-grid:hover .project-done-img {
    border-radius: 10px;
}

.blog-title {
    font-size: 24px;
    color: #1c1c1c;
    text-align: center;
    height: 28px;
    overflow: hidden;
    display: block;
}

.blog-div-grid {
    margin-top: 0;
    margin-bottom: 20px;
}

.blog-div-grid .custom_btn {
    margin: auto;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    -o-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .7s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.blog-div-grid:hover .custom_btn {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.sidebar-blog {
    padding: 10px;
    background: #f7f7f7;
    border-radius: 10px;
    margin-bottom: 20px;
}

.arrows-lists ul.list-unstyled > li > a {
    color: #1c1c1c;
    font-size: 15px;
    display: block;
    height: 22px;
    overflow: hidden;

}

.arrows-lists ul.list-unstyled > li {
    padding: 15px 0;
    display: block;
    border-bottom: 1px solid #e4e4e4
}

.arrows-lists ul.list-unstyled li:last-of-type {
    border: none;
}

.arrows-lists ul.list-unstyled > li > a:before {
    content: "\f100";
    font-family: fontAwesome;
    color: #b3b3b3;
    display: inline-block;
    width: 15px;
}

.arrows-lists ul.list-unstyled > li > a:hover::before {
    width: 20px;
}

.arrows-lists ul.list-unstyled > li .list-inline li {
    display: inline-block
}

.sidebar-div-blog {
    margin-bottom: 50px;
}

.sidebar-div-blog:last-of-type {
    margin-bottom: 0
}

.latest-articles .tag-lists {
    margin-top: 5px;
    margin-bottom: -5px;
}

.latest-articles .blog-tag-list.tag-lists li a {
    color: #b7b7b7;
    font-size: 12px;
}

.latest-articles .blog-tag-list.tag-lists li a:hover,
.latest-articles .blog-tag-list.tag-lists li a:hover i {
    color: #151515
}

.blog-prg {
    margin: 30px auto
}

.blog-details-sec .border-title {
    font-size: 22px;
}

.add-replay-btn {
    color: #fff;
    cursor: pointer;
    padding: 8px 30px 10px;
    min-width: inherit;
    margin-top: 0
}

.replay-div,
.replay-form form {
    margin-left: 0;
    margin-right: 0
}

.replay-div .row {
    justify-content: flex-end;
    margin-left: 0;
    margin-right: 0
}

.replay-form {
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
    display: none;

}

.replay-form .form-control {
    padding: 15px 50px 15px 15px;
    border-radius: 10px;
}

.replay-form .icons-form .login-form-icon {
    top: 15px;
}

.replay-form .submit-form-group .custom_btn {
    margin-top: 0;
    margin-bottom: 10px;
}

/*end blog*/

/*----------------------------------end pages----------------------------------*/
