.first-color,
.more_link span,
.service-div-list span:hover,
.web-sec-icon,
.footer-menu li:hover:before,
.user-list li a:hover,
.active-user-div .user_head .user-name,
.user_head:hover .user-name,
.nav-menu > ul > li.active > a,
.drop-menu-div li:hover a,
.drop-menu-div li:hover::before,
.footer-menu li:hover a,
.copyrights a:hover,
.owl-nav > div:hover:before,
.prof-link-title,
.main-icon-tab .main-icon-tab,
.prof-link-div ul,
.p-user a:hover,
.p-right-list li span,
.statistics li:first-of-type a,
.statistics li:nth-of-type(2) a,
.no-bord-btn,
.statistics a:hover,
.project-done-div:hover h3,
.login-list a:hover,
.condition-form-group label,
.user-chat-list li a i,
.chat-shapes:hover,
.chat-shapes.active,
.chat-users li:hover .side-contact-chat h3,
.project-side-div .chat-man-status i,
.money-list li span,
.project-input-note b,
.project-view-form .form-control,
.tag-lists li a,
.file-upload2 .form-icon,
.holder_pager a:hover,
.holder_pager > a:not([href]):not([tabindex]):hover,
a.jp-current:hover,
.holder_pager a.jp-disabled,
a.jp-disabled:hover,
.arrows-lists ul.list-unstyled > li > a:hover:before {
    color: #328bd0;
}

.web-sec-icon,
.search-form input:focus,
.user-list,
.prof-main-links a,
.holder_pager a.jp-current,
a.jp-current:hover,
.holder_pager a.jp-current,
a.jp-current:hover,
.holder_pager a:hover,
.line-content::after,
.skills .progress-bar,
.form-control:focus,
.no-bord-btn,
.arrows-lists ul.list-unstyled > li > a:hover {
    border-color: #328bd0 !important;
}



.more_link span::after,
.service-div-list span::after,
.rocket,
.serv-icon-img,
.prof-main-links a:hover,
.search-words a:hover,
div#html5-close:hover:before,
.blue_btn,
.blue_btn:before,
.web-sec-icon:before,
.form-btn:hover,
.nav-menu > ul > li > a:hover i,
.user-list ul,
.nav-menu > ul > li.active > a i,
.sec-head span::before,
.dark_btn:hover,
.nav-icon span,
.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span,
.dark_btn:hover,
.chat-search .form-btn,
.chat-conver.receiver .chat-bubble,
.search-btn2,
.line-content.active::before,
.inner-chat-div::-webkit-scrollbar,
.attach-list,
.blue-head,
.progress-bar-item,
.circlelists li::before,
.holder_pager a.jp-current,
a.jp-current:hover {
    background-color: #328bd0;
}

.user-list li,
.attach-list label {
    border-bottom: 1px solid #4695d2;

}

.user-list:before {
    border-bottom: 7px solid #328bd0;

}

.nav-menu > ul > li > a::before,
.arrows-lists ul li a:hover,
.nav-menu > ul > li.menu-item-has-child > a:hover::after,
.tag-lists li a:hover,
.tag-lists li a:hover i,
.blog-title:hover {
    color: #71b4e8;
}


.icon-div:first-of-type .icon-img {
    background-image: url(../images/blue/1.png);
}

.icon-div:nth-of-type(2) .icon-img {
    background-image: url(../images/blue/2.png);
}

.icon-div:nth-of-type(3) .icon-img {
    background-image: url(../images/blue/3.png);
}

.logo-img {
    background-image: url(../images/blue/logo.png);

}


.adv-div::before,
.chat-img:before {
    background: rgba(49, 146, 221, .4)
}

.chat-conver.receiver .chat-bubble:before {
    border-bottom-color: #328bd0
}

.inner-chat-div::-webkit-scrollbar-track,
.chat-content-list::-webkit-scrollbar-track {
    border: 1px solid #4695d2;
    background-color: #4695d2;

}

.imageuploadify .imageuploadify-images-list button.btn-default:hover {
    color: #328bd0 !important
}

.error-img {
    background-image: url(../images/blue/404.png);
}

@media only screen and (max-width: 768px) {

    .line-shape {
        border-right: 6px solid #328bd0;
    }

    .line-content.active .progress-title {
        background: #328bd0
    }

    .line-content.active .progress-title::after {
        border-left-color: #328bd0;
    }
}
