<blockquote>
    <p><strong>سياسة الخصوصية</strong>&nbsp;لـ&nbsp;<strong><a href="#!">عالم جوجل</a></strong></p>

    <p>إذا كنت بحاجة إلى أي مزيد من المعلومات أو لديك أية أسئلة عن سياسة الخصوصية ، لا تتردد في الاتصال بنا عن طريق البريد الإلكتروني في&nbsp;<strong>ضع بريد الكتروني مخصص للاتصال لا تضع بريدك الشخصي</strong>&nbsp;.</p>

    <p>في&nbsp;<strong><a href="#!">عالم جوجل</a></strong>&nbsp;، خصوصية زوارنا لها أهمية بالغة بالنسبة لنا . توجز هذه الوثيقة سياسة الخصوصية لأنواع المعلومات الشخصية التي تجمعها وتلقى&nbsp;<a href="#!"><strong>عالم جوجل</strong></a>&nbsp;و كيفية استخدامها .</p>

    <p><strong>ملفات الدخول:</strong></p>

    <p>مثل العديد من مواقع ويب أخرى،&nbsp;<a href="#!"><strong>عالم جوجل</strong></a>&nbsp;يجعل استخدام ملفات السجل. المعلومات داخل ملفات الدخول يشمل بروتوكول (IP ) عناوين الإنترنت ، نوع المتصفح ، مزود خدمة الانترنت ( ISP) ، طابع التاريخ / الوقت ، في اشارة / الخروج الصفحات، و عدد النقرات ل تحليل الاتجاهات وإدارة حركة الموقع، تعقب المستخدم &#39;ق حول الموقع، وجمع المعلومات الديموغرافية . لا ترتبط عناوين بروتوكول الإنترنت، وغيرها من مثل هذه المعلومات ل أية معلومات هو ان تحدد هويتك .</p>

    <p><strong>الكوكيز و إعدادات الشبكة</strong></p>

    <p><a href="#!"><strong>عالم جوجل</strong></a>&nbsp;لا تستخدم الكوكيز لتخزين المعلومات عن تفضيلات الزوار ، سجل للمستخدم معلومات محددة عن الصفحات التي المستخدم الوصول أو زيارة، وتخصيص محتوى صفحة ويب استنادا إلى نوع المتصفح الزوار أو معلومات أخرى عندما يرسل الزائر معلومات عبر المتصفح .</p>

    <p><strong>دبل كليك سهم كوكي</strong></p>

    <p>. :: جوجل، كبائع لطرف ثالث ، يستعمل الكوكيز لخدمة الإعلانات على&nbsp;<strong><a href="#!">عالم جوجل</a>&nbsp;</strong>&nbsp;.</p>

    <p>. :: استخدام جوجل لل سهم الكوكي يمهد لخدمة الإعلانات للمستخدمين استنادا إلى زياراتهم ل&nbsp;<a href="#!"><strong>عالم جوجل</strong></a>&nbsp;وغيرها من المواقع على شبكة الإنترنت.</p>

    <p>. :: يجوز للمستخدمين اختيار عدم استخدام الكوكيز DART عن طريق زيارة جوجل الإعلانية للمحتوى والخصوصية الشبكة على العنوان التالي - http://www.google.com/privacy_ads.html</p>

    <p>بعض شركائنا الإعلان قد تستخدم الكوكيز ومنارات الويب على موقعنا. ويشمل الشركاء الاعلانات ....</p>

    <p>جوجل ادسنس</p>

    <p>هذه الخدمة الإعلانية لجهة خارجية أو استخدام تكنولوجيا الشبكات الإعلانية إلى إعلانات و الروابط التي تظهر على&nbsp;<a href="#!"><strong>عالم جوجل</strong></a>&nbsp;ترسل مباشرة إلى المتصفحات. أنها تحصل تلقائيا على عنوان بروتوكول الإنترنت وعندما يحدث هذا . قد تكنولوجيات أخرى (مثل الكعكات ، وجافا سكريبت ، أو عدادات الشبكة ) يمكن أن تستخدم من قبل شبكات الإعلان من طرف ثالث ل قياس فعالية إعلاناتها و / أو ل إضفاء الصفة الشخصية على محتوى الإعلان الذي تراه .</p>

    <p><a href="#!"><strong>عالم جوجل</strong></a>&nbsp;لا يوجد لديه أو الحصول على السيطرة على هذه الكعكات التي يستخدمها طرف ثالث معلنين .</p>

    <p>يجب عليك استشارة كل سياسة الخصوصية الخاصة بهذه الخدمة الإعلانية لجهة خارجية للحصول على معلومات أكثر تفصيلا عن ممارساتها و كذلك للحصول على تعليمات حول كيفية الخروج من بعض الممارسات. لا تنطبق سياسة الخصوصية&nbsp;<a href="#!"><strong>عالم جوجل</strong></a>&nbsp;&#39; عليها، و نحن لا نستطيع السيطرة على أنشطة مثل المعلنين الآخرين أو مواقع الإنترنت.</p>

    <p>إذا كنت ترغب في تعطيل الكوكيز ، يمكنك فعل ذلك من خلال خيارات المتصفح الخاص بك الفردية . معلومات أكثر تفصيلا حول إدارة الكعكة مع متصفحات ويب محددة يمكن الاطلاع على المواقع الالكترونية لبرامج التصفح .</p>
</blockquote>
